<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pocket PT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div id="navbar">
        <h1 id="h1">Beginner Workout</h1>
        <nav>
            <button type="submit" class="btn btn-warning">Go Back</button>
        </nav>
    </div>
    <div class="exercisecont">
        <div class="exercisebox">
            <h4>Routine A: Pull</h4>
            <ul>
                <li> TRX Row + Biceps Curl (w/ db) 3x</li>
                <li>Lat Pulldown + Bicep Curl (w/ rope) 3x</li>
                <li>Bentover Rows (w/ db) + Low Row 4x</li>
            </ul>
        </div>
        <br>
        <div class="exercisebox">
            <h4>Routine B: Push</h4>
            <ul>
                <li> Bench Press + Triceps (cable) 3x</li>
                <li>Inclined Bench Press + French Press Triceps 3x</li>
                <li>Military Press (w/ db) + Push Up 4x</li>
            </ul>
        </div>
        <br>
        <div class="exercisebox">
            <h4>Routine C: Lower Body</h4>
            <ul>
                <li> Squats + Calf Raises 3x</li>
                <li>Lunges + plyo Bench Squats 3x</li>
                <li>Leg Curls + Romanian Deadlifts 4x</li>
            </ul>
        </div>

    </div> 
    <p>
        <h5>Ps:</h5>
        <ul>
            <li>Please perform between 12-15 resp/exercise.</li>
            <li>If you can't do more than 12 reps, decrease load.</li>
            <li>If you pass 15 reps increase load.</li>
            <li>Rest period between 45-60 seconds.</li>
        </ul>

    </p>

</body>
</html>