<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pocket PT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    
    <nav class="navbar navbar-expand-md  sticky-top" style="background-color: rgba(22, 22, 22, 0.7)">
    
        <spam class="navbar-text">
            <a class="nav-link" id="logo" href="/home"><i class="fas fa-dumbbell"> </i>Pocket PT</a>          
        </spam>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fas fa-bars" style="color: goldenrod; font-size:20px;"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="collapse_target">
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item">
                    <a class="nav-link" href="/exercises">Go Back</a>                     
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="begginerPageCont">
        <div class="exercisecont">
            <div class="exercisebox">
                <h4>Routine A: Pull</h4>
                <ul>
                    <li>TRX Row + Biceps Curl (w/ db) 3x</li>
                    <li>Lat Pulldown + Bicep Curl (w/ rope) 3x</li>
                    <li>Bentover Rows (w/ db) + Low Row 4x</li>
                </ul>
            </div>
            
            <div class="exercisebox">
                <h4>Routine B: Push</h4>
                <ul>
                    <li> Bench Press + Triceps (cable) 3x</li>
                    <li>Inclined Bench Press + French Press Triceps 3x</li>
                    <li>Military Press (w/ db) + Push Up 4x</li>
                </ul>
            </div>
            
            <div class="exercisebox">
                <h4>Routine C: Lower Body</h4>
                <ul>
                    <li> Squats + Calf Raises 3x</li>
                    <li>Lunges + plyo Bench Squats 3x</li>
                    <li>Leg Curls + Romanian Deadlifts 4x</li>
                </ul>
            </div>
        </div> 

        <div class="exerciseTips">
            <h4>Tips:</h4>
            <p>
                Please perform between 12-15 resp/exercise. <br/>
                If you can't do more than 12 reps, decrease load.<br/>
                If you pass 15 reps increase load.<br/>
                Rest period between 45-60 seconds.
            </p>
        </div>
    </div>

</body>
</html>