<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pocket PT</title>
</head>
<body>
    <form action="home">
        <div> 
            <a href="/flexDiet">Flexible Diet</a>
        </div>
        <div> 
            <a href="/keto">Keto</a>
        </div>
        <div> 
            <a href="/paleo">Paleo</a>
        </div>

        <button type="submit">Go Back</button>
    </form>
</body>
</html>