<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Porcket PT</title>
</head>
<body>
    <h1>Flexible Diet Recipes</h1>
    <div>
        <h1>
            
        </h1>
    </div>

    <button><a href="/recipes/newFlex">Add Meal</a></button>
    <button><a href="/diets">Go Back</a></button>
</body>
</html>