<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
      Aliquam ratione, voluptates dolores fugiat iure molestias voluptatum! <br>
      Voluptas, facere pariatur in commodi sint assumenda accusamus blanditiis nisi, <br>
      rem suscipit aliquid ad!
    </p>
    <p>Use Your google acc to <a href="/auth/google">Sign In</a></p>
  </body>
</html>
