<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pocket PT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <form action="/info" method="POST">
        

        <nav class="navbar navbar-expand-md  sticky-top" style="background-color: rgba(22, 22, 22, 0.7)">
            <div class="collapse navbar-collapse" id="collapse_target">
                <a class="nav-link" id="logo" href="/home"><i class="fas fa-dumbbell"> </i>Pocket PT</a>          
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item btn" >
                        <a class="nav-link" href="/home">Log Out</a>                 
                    </li>
                </ul>
            </div>
        </nav>          
        <div id="navbar">
            <h1 id="h1">User's Info</h1>
            <nav>
                <button type="submit" class="btn btn-warning">Submit</button>
            </nav>
        </div>

        <label>Age:</label><input type="number" name="age"> 
        </br> 

        <label>Height:</label><input type="number" name="height"> 
        </br>

        <label>Weight</label><input type="number" name="weight"> 
        </br>

        <label>Gender:</label>
        <select name="gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select>
        </br>

        <label>Goal</label> 
        <select name="goal">
            <option value="weight loss">Weight Loss</option>
            <option value="maintenance">Maintenance</option>
            <option value="muscle gain">Muscle Gain</option>
        </select>
        </br>

        <label>Experience Level</label>
        <select name="exp">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
        </select></br>
    </form>
</body>
</html>