body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  url('../images/fitnessdeals_spot1.jpeg');
  max-height: 100vh;
  height: 100%;
  width:100%;
}

.nav-link{
  font-size:20px;
}

#logo{
  font-size: 25px;
}

.nav-link:hover, a:hover {
  color: darkgoldenrod;
}

#hometitle{
  background-color: rgb(255, 198, 78);
}
  
#h1, h1, h4, h5, p{
  font-family: 'Julius Sans One', sans-serif;
}


#wrapper{
  display: flex;
}




#discrip{
  height: 85px;
  width:280px;
  border: solid black 1px;
  border-radius: 3px;
}

#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  rgb(255, 198, 78);
  align-items: center;
  margin-bottom: 20px; 
}


#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#footer{
  display: flex;
  justify-content: baseline;
  text-align: center;
}
/*------------FlexDiet--------------*/
#dietdisplay{
  display: flex;
  flex-direction: row;
}

#recipebox{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: rgba(22, 22, 22, 0.6);
  border-radius: 5px;
}

#foodimg{
  border-top: 10px;
}


/*------------BEGINERT-PAGE--------------*/

.exercisecont{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

.exercisebox{
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  text-align: left;
  max-height: 120px;
  height: 100%;
  max-width: 360px;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.6);
  border-radius: 5px;
  color: antiquewhite;
  margin: 10px;
  padding: 10px;
}

.exerciseTips{
  height: 120px;
  max-width: 360px;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.6);
  border-radius: 5px;
  color: antiquewhite;
  
}

.begginerPageCont{
  display: flex;
  flex-direction: column;
  /* flex-flow: row wrap; */
  align-items: center;
  align-content: space-between;

}

/*------------DIETS-PAGE--------------*/

.dietpagecont{
  display: flex;  
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#dietbody{
  display: flex;  
  flex-direction: column;
  align-items: space-between;
  Max-width: 300px; 
  width: 100%;
  height: 300px;
  background-color: rgba(22, 22, 22, 0.6);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}


/*------------INFO-PAGE--------------*/

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.6);
  width: 300px;
  padding: 10px; 
  color: antiquewhite;
}

.formcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Julius Sans One', sans-serif;
}

/*------------HOME-PAGE--------------*/

#profileimg{
  border-radius: 50%;
  border: solid rgb(255, 191, 67) 2px;
  height: 75px;
  margin: 10px;
}

#photoname{
  padding: 10px;
}

#profilecontainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: rgba(22, 22, 22, 0.6);
  max-width: 250px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  padding: 20px; 
  border-radius: 5px;
  color: antiquewhite;
}

#homecontent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin: 10px;
}
.tips{
  display: flex;
  flex-direction: column; 
  /* max-height: 500px; */
  height: 100%;
  max-width: 800px;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.6);
  border-radius: 5px;
  color: antiquewhite;
  font-family: 'Julius Sans One', sans-serif;
  padding: 20px;
  margin-left: 10px;
}

.beginertips{
  display: flex;
  flex-direction: row; 
  /* margin-right: 300px; */
}

.tip{
  width: 33%;
  text-align: justify;
  padding: 10px;
}



/*-------------INDEX-PAGE--------------*/

#intro{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.introcard{
  color: antiquewhite;
  font-size: 15px;
}

.title, .nav-link, a, h1, h5, h4{
  font-family: 'Julius Sans One', sans-serif;
  color: rgb(255, 191, 67);
}

.title{
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.3); 
}
/*------------------RESPONSIVENESS--------------------*/
@media screen and (max-width: 900px){
  
  body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
      ),
      url('../images/78344-11605706.jpg');
    height: 100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: 130%; 
  
  }
  
  .nav-link{
    font-size:30px;
  }
  
  #logo{
    font-size: 45px;
  }
 
  .exercisecont{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .exercisebox, .exerciseTips{
    text-align: left;
    max-height: 150px;
    height: 100%;
    max-width: 400px;
    width: 100%;
  }

    
  #homecontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px;
    height: 100vh;
  }
    
  #profilecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(22, 22, 22, 0.6);
    color: antiquewhite;
    max-width: 1000px;
    width: 100%;
    height: 30%;
    padding: 20px; 
    border-radius: 5px;
    margin: 10px;   
  }
  
  .beginertips{
    display: flex;
    flex-direction: column; 
  }
  
  .tips{
    height: 70%;
    max-width: 1000px;
    width: 100%;
    text-align: center;
  }
  #profilecontainer p{
    font-size: 25px;
  }

  #name{
    font-size: 40px;
  }
  
  .tip{
    width: 100%;
    text-align: justify;
    padding: 10px;
  }
  .tip p {
    font-size: 20px;
  }
  
  .data{
    padding-left: 10px;
  }
  
  #list, #calinfo{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
  }
}