<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pocket PT</title>
</head>
<body>
    <form action="/Recipes/newPaleo" method="POST">
        <input type="file" name="image" >
        <input type="hidden" name="dietStyle" value="keto">
        <input type="text" name="name" placeholder="Meal Name">
        <input type="text" name="description" placeholder="Discription">
        <button type="submit">Add Meal</button>
    </form>
    <button><a href="/keto">Go Back</a></button>
</body>
</html>